body {
  color:aqua;
  background-color:deeppink;
  font-style: comic;
  font-family:cursive;
  font-size: large;
}
h1, h2, h3 {
  display: flex;
  justify-content: space-between;
  animation: bounce;
  animation-duration: 1.5s;
}

.pic-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.block-image {
  align-items: baseline;
  justify-content: space-around;
  border-radius: 150px;
  animation: imgTwist 2s infinite; 
}

.outblock-image {
  display: flex;
  justify-content: center;
  animation: imgBeat infinite;
}

.outblock-image1 {
  border-radius: 300px;

}

h3 {
  display: flex;
  justify-content: center;
}

.Crown-Icon {
  margin-right: 10px;
  margin-left: 10px;
}

.lifetime {
  margin-right: 10px;
  margin-left: 10px;
}

@keyframes imgTwist {
  0% { transform: scale(1) rotate(0deg);}
  50% {transform: scale(1.1) rotate(15deg);}
  100% {transform: scale(1) rotate(0deg);}
}

/* @keyframes imgBeat {

} */


/* 
animate_animated
animate_heartbeat
animate_infinite */